@media only screen and (max-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
@media only screen and (max-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
@media only screen and (max-width: 1024px) {
  .container {
    max-width: 1024px;
}
}
@media only screen and (max-width:  768px) {
  .container {
    max-width: 768px;
  }
}
@media only screen and (max-width:  640px) {
  .container {
    max-width: 640px;
  }
}

body {
  background-image: url(/images/touch/Hình\ nền.jpg);
  background-size: cover; 
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

button,
input,
[tabindex] {
  border: none;
  outline: none;
}

a[href] {
  color: var(--text-color);
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.header{
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  padding-top: 1.25rem;
}

.logoSolgempad img{
  width: 400px;
}
.connectWallet button{
  background: linear-gradient(105deg,#0047ff 10%,#57048a 100%);
  border-radius: 15px;
  color: #fff;
  cursor: pointer;
  background-color: #0000;
  border: none;
  align-items: center;
  height: 48px;
  padding: 0 24px;
  font-family: DM Sans,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 48px;
  display: flex;
}
.contentBySol{
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
.image-cover{
  margin-bottom: 25px;
}
.image-cover img{
  width: 100%;
}

.contex-cover{
  background-image: linear-gradient(to right, rgb(38, 59, 44) , rgb(12, 71, 66));
  padding: 15px 20px; 
  border-radius: 15px;
  opacity: 0.9;
}
.contex-cover p{
  color: #fff;
}
.warriors {
  color: #eed815;
  font-weight: 700;
}
.preSale {
  margin: 0 35px;
}
.price p{
  margin: unset;
}
.price{
  margin: 15px 0;
}

.priceSol{
  font-weight: 700;
}
.solValue{
  display: flex;
    align-items: center;
    justify-content: flex-start;
}
.minSol p, .maxSol p{
  margin: unset;
  color: #d6da0f;
  font-weight: 700;
}
.maxSol{
  padding-left: 10px;
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: 700;
}
.minSol{
  border-right: 2px solid #fff;
  padding-right: 10px;
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: 700;
}
.totalRaises h3{
  color: #fff;
  font-weight: 700;
}
.titlePreSale{
  color: #fff;
  font-weight: 700;
}
.contribute h3{
  color: #fff;
  font-weight: 700;
}
.contribute{
  display: grid;
}
.inputContribtr{
  position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.solana{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin: unset;
  color: #fff;
  font-weight: 700;
  border-left: 2px solid;
  padding: 3px 10px;
}

.inputContribtr input{
  width: 100%;
  height: 100%;
  padding: 15px;
  background-image: linear-gradient(to right, rgb(38, 59, 44) , rgb(12, 71, 66));
  border-radius: 10px;
  color: #fff;
  padding-right: 10rem ;
  
}

.contribute-btn{
  margin-top: 20px;
  padding: 15px;
  border-radius: 10px;
  color: #666;
  cursor: not-allowed;
  background: #ccc!important;
}

.linkPage{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px 0;
}

.person{
  padding: 50px 0;
}

.info-footer{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.info-footer{
  border-bottom: 1px solid #e5e7eb;
}
.leftFooter img{
  width: 100%;
}
.coprRight{
  display: flex;
  justify-content: space-evenly;
  padding: 20px 0;
}
.coprRight span{
  color: #e5e7eb;
}
#status_p{
  color: red;
  font-style: italic;
}