* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;

}

button,
input,
[tabindex] {
  border: none;
  outline: none;
}

a[href] {
  color: var(--text-color);
}

.background {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  padding-top: 1.25rem;
}

.logoSolgempad img {
  width: 100%;
}

.connectWallet button {
  background: linear-gradient(105deg, #0047ff 10%, #57048a 100%);
  border-radius: 15px;
  color: #fff;
  cursor: pointer;
  background-color: #0000;
  border: none;
  align-items: center;
  height: 48px;
  padding: 0 24px;
  font-family: DM Sans, Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 48px;
  display: flex;
}

.contentBySol {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}

.image-cover {
  margin-bottom: 25px;
}

.image-cover img {
  width: 100%;
}

.contex-cover {
  background-image: linear-gradient(to right, rgb(94 157 112), rgb(12, 71, 66));
  padding: 15px 20px;
  border-radius: 15px;
  opacity: 0.9;
}

.contex-cover p {
  color: #fff;
}

.warriors {
  color: #eed815;
  font-weight: 700;
}

.preSale {
  margin: 0 35px;
}

.price p {
  margin: unset;
}

.price {
  margin: 15px 0;
}

.priceSol {
  font-weight: 700;
}

.solValue {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.minSol p,
.maxSol p {
  margin: unset;
  color: #d6da0f;
  font-weight: 700;
}

.maxSol {
  padding-left: 10px;
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: 700;
}

.minSol {
  border-right: 2px solid #fff;
  padding-right: 10px;
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: 700;
}

.totalRaises h3 {
  color: #fff;
  font-weight: 700;
}

.titlePreSale {
  color: #fff;
  font-weight: 700;
}

.contribute h3 {
  color: #fff;
  font-weight: 700;
}

.contribute {
  display: grid;
}

.inputContribtr {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.solana {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin: unset;
  color: #fff;
  font-weight: 700;
  border-left: 2px solid;
  padding: 3px 10px;
}

.inputContribtr input {
  width: 100%;
  height: 100%;
  padding: 15px;
  background-image: linear-gradient(to right, rgb(94 157 112), rgb(12, 71, 66));
  border-radius: 10px;
  color: #fff;
  padding-right: 10rem;
}
#quantity::placeholder {
  color: #fff !important;
  opacity: 0.7;
}

.contribute-btn {
  margin-top: 20px;
  padding: 15px;
  border-radius: 10px;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  background-image: linear-gradient(to right, rgb(94 157 112), rgb(12, 71, 66));
}

.contribute-btn:hover{
  background-image: linear-gradient(to right, rgb(28 58 37), rgb(12, 71, 66));
}
.contribute-btn:hover {
  background-color: #757272;
  color: #fff;
}

.linkPage {
  display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.linkPage img {
  transition: transform 0.3s ease;
  padding: 0 10px;
  height: 50px;
}

.hoverImg :hover {
  transform: scale(1.2);
}

.info-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.info-footer {
  border-bottom: 1px solid #e5e7eb;
}

.coprRight {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 0;
}

.coprRight span {
  color: #ffffff;
  FONT-SIZE: 20PX
}

#status_p {
  color: red;
  font-style: italic;
}

.gameFi {
  color: #fff;
  font-weight: 700;
  FONT-SIZE: 25PX;
  PADDING-TOP: 5PX;

}

.item-silde img {
  width: 100%;
}

.leftFooter {
  flex-direction: column;
  display: flex;
  align-items: center;
  padding-top: 15px;
}
.leftFooter img{
 width: 100%;
}

@media only screen and (max-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

@media only screen and (max-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media only screen and (max-width: 992px) {
  .container {
    max-width: 960px;
  }

  .preSale {
    margin: 10px 0;
  }

  .contentBySol {
    flex-direction: column;
  }

  .body-content {
    flex-direction: row;
  }

  .info-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: 768px;
  }

}

@media only screen and (max-width: 660px) {
  .container {
    max-width: 640px;
  }

  .cover,
  .preSale,
  .logoSolgempad {
    padding: unset;
  }

  .header {
    flex-direction: column;
  }

  .connectWallet button {
    margin: 20px 0;
  }

  .contentBySol {
    margin: unset;
  }
}


@media only screen and (max-width: 470px) {
  .container {
    max-width: 640px;
  }

  .leftFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}